{% extends "admin/change_list.html" %}

{% block footer %}
	{{ block.super }}
	<div class="modal" tabindex="-1" role="dialog" id="modal_riwayat">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Riwayat Transaksi</h5>
					<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button> -->
				</div>
				<div class="modal-body p-0">
					<table class="table">
						<thead>
							<tr>
								<th>No.</th>
								<th>Nama Riwayat</th>
								<th>Tanggal</th>
								<th>Keterangan</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="4" align="center">Kosong</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
					<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('.modal#modal_riwayat').fadeOut()">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var list_modal_riwayat = function(elem){
			url_ = elem.data('url')
			console.log(url_)
			modal__ = $('.modal#modal_riwayat')
			if(typeof url_ != 'undefined'){
				$.ajax({
					url: url_,
					type: "GET",
					success: function(respon){
						console.log(respon)
						if(respon.success == true){
							html_ = ''

							for (var i = 0; i < respon.data.length; i++) {
								no = i+1
								obj_ = respon.data[i]
								html_ += '<tr>'+
											'<td>'+no+'</td>'+
											'<td>'+obj_.nama_riwayat+'</td>'+
											'<td>'+obj_.tanggal_riwayat+'</td>'+
											'<td>'+obj_.keterangan+'</td>'+
										'</tr>'
							}

							modal__.find('tbody').html(html_)
							modal__.fadeIn()

						}
					}
				})
			}
		}


		var aksi_verifikasi = function(elem){
			pesan = elem.data('pesan')
			url_ = elem.data('url')
			if(typeof url_ != 'undefined'){
				swal({
					title: "Peringatan?",
					text: pesan,
					icon: "warning",
					buttons: true,
					dangerMode: true,
				})
				.then((willDelete) => {
					if (willDelete) {
						$.ajax({
							url: url_,
							type: "GET",
							success: function(respon){
								console.log(respon)
								if(respon.success == true){
									if(typeof respon.pesan != 'undefined'){
										swal("Good job!", respon.pesan, "success").then((value) => {
											window.location.reload()
										});
									}
								}
							}
						})
					}
				});
			}
		}
	</script>
{% endblock %}